body {
  background-color: rgb(70, 70, 70);
}

.conter {
  width: 50%; 
  margin-top: 3.5%;
  margin-left: auto;
  margin-right: auto;
}

.form {
  width: 50%; 
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto; 
}

input[type=text], select{
  width: 85%;
  height: 35px;
}

select[name="cripty"], select{
  width: 31%;
  height: 35px;
}

input[type=submit] {
  width: 55%;
  height: 35px;
  background-color: #4CAF50;
  color: white;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
 
h1 {
  font-size: 230%;
  margin-top: 1%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  color: aliceblue;
  }

  h2 {
  text-align: center;
  color: aliceblue;
  display: inline;
  }

  textarea {
    width: 85.5%;
    
  }
